* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/* Common */

.header{
    height: 100vh;
    background-color: #E6F0FF;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
}
