* {
    box-sizing: border-box;
}

:root {
    --primary-color: #4F5361;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    margin: 0 auto;
}

.btn {
    min-width: 98px;
    border-radius: 8px;
    background: #0F1B4C;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 13px 16px;
    display: inline-block;
    text-align: center;
}

.header {
    height: 100vh;
    background-color: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar li a {

    padding: 8px 15px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.navbar .action {
    margin-left: auto;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-register {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}