* {
    box-sizing: border-box;
}

:root{
    --primary-color: font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    margin: 0 auto;
}

.header {
    height: 100vh;
    background-color: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar li a {
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action {
    margin-left: auto;
}