* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.box1{
    width: 200px;
    height: 200px;
    background-color: red;
}

.box2{
    width: 200px;
    height: 200px;
    background-color: yellow;
}